{% extends "personal/header.html" %}
{% block content %}

<!DOCTYPE html>

<html>

<head>
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
   <title> revelyusuf.net </title> 
    <link rel="stylesheet" href="static/personal/css/style.css/" type="text/css" />
	<!-- This site is developed by : Revel Yusuf -->
</head>

<body>
     
      <h2 class="search"> Search  <input></input> </h2><br>
     <div class="rg"> <h2><a href="login.html">Login Page</a> <br> </h2> <a href="sign-up.html">Sign-Up Page</a></h2> </div>
      <div class="hot">Hot News</div>
      <div class="news"><marquee> This is very Important news  </marquee></div>

     
      <div class="navi">
       <ul>
       <li>Home </li>
       <li>Mission </li>
       <li>Vission </li>
       <li>Articles </li>
       <li>Contact <a href="contact.html"></a> </li>

      
      </ul>
      </div> <br>
	  
   <br>
   
     <center> <h1>This is  Home Page</h1> <br>   </center>
      <h1>Welcome to my website</h1>
     <h2> I am Revel Yusuf <br >A Django Web developer </h2> 
    
      <h2 class="abt">About me</h2>
     <img src="static/personal/img/11.png" height="400" />
     <h2>

Hello,

This is Revel Yusuf, from dhaka, Bangladesh.I am Currently studied in B.S Information and Communications Technology at Bangladesh University of Professionals as 3rd year Student .<br> 

Python is my Passion,my dream,my fantasy.I passing my maximum time by writing Python scripts.<br>I wanna build my carrier on Python. I know some basic Programming languages also like C,C++,Java,JavaScript,html,css etc.<br>

Now I am busy with Django Projects.I did learn Django from 4 months ago.Now I am doing some opensource Django Projects from GitHub.I wanna be a good web developer.

This is All about me.
</h2> <br>

<h2 class="contact">Contact Me</h2>

<div class="link">
<p>          --<a href="http://www.revelyusuf.blogspot.com" target="_blank"> revelyusuf.blogspot.com </a> </p>
    
<p>          --<a href="http://www.facebook.com/revelyusufii" target="_blank"> Facebook_id </a> </p>
<p>          --<a href="http://www.revelyusuf109@gmail.com" target="_blank"> gmail_account </a> </p>
    </div>
   <div class="page"> <center> <h3><a href="page2.html">Next Page</a></h3> <h3><a href="ict.html">page-4</a></h3>  </center> </div>
  <div class = "design"> <center> <h2>Design , Develop and @Copyright: <br>Developed By : Revel Yusuf.  <br> Backend : Django(Python) Framework.<br> Designed By: HTML & Css with Bootstrap. </h2> </center>
       </div>   
</body>


</html>

{% endblock %}