<!DOCTYPE html>

<html>

<head>
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
   <title> revelyusuf.net </title> 
    <link rel="stylesheet" href="ict.css" type="text/css" />
</head>

<body>
 <div class="hot">ICT News</div>
<div class="news"><marquee> This is very Important ICT news  </marquee></div><br>
<h1> This is page no 4 </h1>
<h3><a href="revelyusuf.html"> go to Homepage </a></h3>
<h3><a href="page2.html"> go to Page-2 </a></h3>
<h3><a href="page3.html"> go to Page-3 </a></h3>
<center>
<h1 class="it"> Information and Communication Technology </h1>
</center>

<p class="para">
ICT is one of the charming and interesting subject in todays world.Todays world is a world of technology.We cannot thing anything without technology.Now peoples of our country doing well in it sector by freelancing.



</p>
</body>

</html>