{% extends "personal/header.html" %}
{% block content%}

<!DOCTYPE html>

<html>

<head>
 
   <title> revelyusuf.net </title> 
    


<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Login Page</title>
    </head>
    <body>

        <h1>Login Page</h1>
        
        <form name="MyForm" action="display.html" method="POST">
            <table border="0">
               
                <tbody>
                    <tr>
                        <td> Username </td>
                        <td><input type="text" name="User" value="" size="50" /> </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="Pass" value="" size="50" /> </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="submit" />
            
            <input type="reset" value="reset" />
        </form>
        
        
        
        
    
    </body> 
</html>

    <link rel="stylesheet" href="ict.css" type="text/css" />
</head>





</body>

</html>
{% endblock%} %}