<!DOCTYPE html>

<html>

<head>
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
   <title> revelyusuf.net </title> 
    <link rel="stylesheet" href="page2.css" type="text/css" />
</head>

<body>



<h1> Welcome Here </h1>


<h3><a href="revelyusuf.html"> go to Homepage </a></h3>

<h3><a href="page3.html"> go to Page-3 </a></h3>

<h2 class="py">Python Programming! What is it? </h2>
<img src="python2.jpg"height="300" width="500"/>
<h2>


<p> Python is one of the most popular programming languages today.Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than possible in languages such as C++ or Java.The language provides constructs intended to enable writing clear programs on both a small and large scale.
</p>
<p>
Python supports multiple programming paradigms, including object-oriented, imperative, functional programming, and procedural styles. It features a dynamic type system and automatic memory management and has a large and comprehensive standard library.
</p>
<p>
Python interpreters are available for many operating systems, allowing Python code to run on a wide variety of systems. CPython, the reference implementation of Python, is open source software and has a community-based development model, as do nearly all of its variant implementations. CPython is managed by the non-profit Python Software Foundation.
  </p>
</h2>

</body>
</html>