<!DOCTYPE html>

<html>

<head>
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
   <title> revelyusuf.net </title> 
    <link rel="stylesheet" href="page3.css" type="text/css" />
</head>

<body>



<h1> This is page no 3 </h1>
<h3><a href="revelyusuf.html"> go to Homepage </a></h3>
<h3><a href="page2.html"> go to Page-2 </a></h3>
<h3><a href="ict.html"> go to Next Page </a></h3>

<center>
<h1 class="wb"> Web-Designing and html5 </h1>

</center>

<img src="1.jpg" height="300" width="400" />
<img src="2.jpg" height="300" width="500" />
<img src="3.jpg" height="300" width="400"  />
<h2>
<p>
Web designing is an art,passion.I am very much intersting about web-designing from my college life.It's an amazing experience to build an website.After creating an aweosome website you feel like a prince.

</p>
<p>
html means hypertext markup language that used for creating and designing an website.html latest version name is html5.A website is nothing but html.there is  an another aweosome this is css that is all about coloring and designing a website.css is nothing without html.
</p>

</h2>


</body>
</html>