.hot{
background-color:red;
color:#fff;
padding-left:20px;
padding-right:20px;
bordar:2px solid #666;
float:left;
width:100px;

}
.search{
background-color:none;
color:#fff;
padding-left:5px;
padding-right:100px;
float:right;
width:80px;

}


.news{
background-color:orange;
color:#fff;
padding-left:20px;
padding-right:20px;
bordar:3px solid #666;
float:left;
width:500px;
}
.navi{
clear:left;
}

.navi ul li{
List-style:none;
background-color:red;
padding:5px;
margin:2px;
width:100px;
float:left;


}
.abt{
color:White;
background-color:Green;
width:140px;
}
.contact{
color:black;
background-color:white;
width:160px;
}
.npage{
color:yellow;
font-size:25px;
font-weight:bold;
font-style:italic;
}

body{
background-image:url=("static/personal/img/Wonderful-Zen-Image.jpg");
background-color: #9370DB;
color:white;
font-size:20px;
font-weight:bold;
font-style:Berlin Sans FB;
background-size:cover;

}

.page{
background-color:none;
color:Yellow;

}
.rg{
background-color:none;
color:white;
padding-left:10px;
bordar:5px solid #666;
float:right;
width:300px;

}
.design{
color:white;
background-color:black;
font-style:Bell MT;
}

.link{
font-size:30px;
color:white;
background-color:none;


}